<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode() + '_default_leasing_option'}">
            Financing <span data-bind="text: getDefaultLeasingMonthlyCost()"></span> kr/month
            for <span data-bind="text: getDefaultLeasingContractLength()"></span> months
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!--<div data-bind="if: false!=getIframe()">-->
            <div class="wasa_kredit_leasing_block">

            </div>
            <div data-bind="html: getIframe(), afterRender: iframeInit()">
                [Frame not loaded, please try again]
            </div>
        <!--</div>-->
    </div>
</div>
